In [1]:
import pandas as pd
import mysql.connector

# Connect to your Chuka Electronics DB
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='EB36727823', # Use your EB367... password
    database='chuka_electronics'
)

# Pull the data into a Pandas Table (DataFrame)
df = pd.read_sql("SELECT * FROM Customers", conn)

# Close and display
conn.close()
df.head(10) # This shows the first 10 rows beautifully!

C:\Users\mawia\AppData\Local\Temp\ipykernel_2616\3548732551.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM Customers", conn)

   customer_id customer_name phone_number
0            1         Mawia   0712345678
1            2          june   0706564588
2            3           ken   0708648299
3            4         irene   0743408452
4            5         harun   0793411702
5            6           joe   0720955034
6            7          nish   0725487718
7            8         becky   0710111213
8            9        macque   0790404571