In [ ]:
import os
import pandas as pd
import mysql.connector

# Connect to your Chuka Electronics DB
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password=os.getenv('DB_PASSWORD'),  # set DB_PASSWORD env var
    database='chuka_electronics'
)

# Pull the data into a Pandas Table (DataFrame)
df = pd.read_sql("SELECT * FROM Customers", conn)

# Close and display
conn.close()
df.head(10) # This shows the first 10 rows beautifully!

C:\Users\mawia\AppData\Local\Temp\ipykernel_17052\3548732551.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM Customers", conn)

   customer_id customer_name phone_number
0            1         Mawia   0712345678
1            2          june   0706564588
2            3           ken   0708648299
3            4         irene   0743408452
4            5         harun   0793411702
5            6           joe   0720955034
6            7          nish   0725487718
7            8         becky   0710111213
8            9        macque   0790404571

In [ ]:
import os
import pandas as pd
import mysql.connector

# 1. Connect (The Bridge)
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password=os.getenv('DB_PASSWORD'),  # set DB_PASSWORD env var
    database='chuka_electronics'
)

# 2. Get Data (The Messenger)
df_sales = pd.read_sql("SELECT * FROM Sales", conn)
df_products = pd.read_sql("SELECT * FROM Products", conn)

# 3. Analyze (The Manipulation)
merged_df = pd.merge(df_sales, df_products, on='product_id')
# If quantity isn't present in Sales, assume one unit per sale; otherwise coerce to numeric
if 'quantity' not in merged_df.columns:
    merged_df['quantity'] = 1
else:
    merged_df['quantity'] = pd.to_numeric(merged_df['quantity'], errors='coerce').fillna(1)
# Ensure unit_price is numeric and treat missing prices as 0
merged_df['unit_price'] = pd.to_numeric(merged_df['unit_price'], errors='coerce').fillna(0)
merged_df['transaction_total'] = merged_df['quantity'] * merged_df['unit_price']
total_revenue = merged_df['transaction_total'].sum()

# 4. Success Output
print(f"Total Revenue: KES {total_revenue:,.2f}")
conn.close()
merged_df.head()

Total Revenue: KES 109,950.00

C:\Users\mawia\AppData\Local\Temp\ipykernel_17052\2253663950.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales = pd.read_sql("SELECT * FROM Sales", conn)
C:\Users\mawia\AppData\Local\Temp\ipykernel_17052\2253663950.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_products = pd.read_sql("SELECT * FROM Products", conn)

,sale_id,customer_id,product_id,sale_date,product_name,unit_price,stock_quantity,quantity,transaction_total
0,1,1,1,2026-01-29,HP Laptop,45000.0,10,1,45000.0
1,2,2,4,2026-02-02,samsung charger,900.0,104,1,900.0
2,3,5,5,2026-02-02,amtec speaker,4500.0,25,1,4500.0
3,4,3,7,2026-02-02,powerpoint extention,450.0,249,1,450.0
4,5,2,9,2026-02-02,led keybord,3600.0,75,1,3600.0

In [8]:
# Diagnostic: check columns and sample rows
print("df_sales columns:", df_sales.columns.tolist())
print("df_products columns:", df_products.columns.tolist())
print('\nSales sample:')
print(df_sales.head(5).to_string())
print('\nProducts sample:')
print(df_products.head(5).to_string())

df_sales columns: ['sale_id', 'customer_id', 'product_id', 'sale_date']
df_products columns: ['product_id', 'product_name', 'unit_price', 'stock_quantity']

Sales sample:
   sale_id  customer_id  product_id   sale_date
0        1            1           1  2026-01-29
1        2            2           4  2026-02-02
2        3            5           5  2026-02-02
3        4            3           7  2026-02-02
4        5            2           9  2026-02-02

Products sample:
   product_id     product_name  unit_price  stock_quantity
0           1        HP Laptop     45000.0              10
1           2   iphone charger      1500.0              67
2           3          macbook     45000.0              52
3           4  samsung charger       900.0             104
4           5    amtec speaker      4500.0              25